* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    background-color: #BAE0DA;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}